<?xml version="1.0"?>
<configuration>
  -  <startup>
    -    <supportedRuntime version="v2.0.50727"/>
    -
  </startup>
  -  <!-- 
-  ***************** CHANGE AT YOUR OWN RISK!! *****************
-  Don't edit this file unless you know what you're doing. These are settings used by the TopPatch Agent. 
-  Any changes done while the agent is running could break it. You may need to restart the agent.
-  *************************************************************
-  -->
  -  <appSettings>
    -    <add key="ServerHostName" value="" />
    -    <add key="ServerIpAddress" value="127.0.0.1" />
    -    <add key="ServerPort" value="9001" />
    -    <add key="CSRPort" value="9002" />
    -    <add key="AgentPort" value="9003" />
    -    <add key="StarterPort" value="9005" />
    -    <add key="NodeId" value="0" />
    -    <add key="TopPatchCAFile" value="TopPatchCA.crt" />
    -
  </appSettings>
  -
</configuration>