<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <!-- 
  ***************** CHANGE AT YOUR OWN RISK!! *****************
  Don't edit this file unless you know what you're doing. These are settings used by the TopPatch Agent. 
  Any changes done while the agent is running could break it. You may need to restart the agent.
  *************************************************************
  -->
  <appSettings>
    <add key="ServerHostName" value="" />
    <add key="ServerIpAddress" value="" />
    <add key="ProxyAddress" value="" />
    <add key="ProxyPort" value="" />
    <add key="AgentId" value="" />
    <add key="Customer" value="default" />
    <add key="nu" value="" />
    <add key="wp" value="" />
    <add key="LogLevel" value="debug" />
  </appSettings>
</configuration>